.list {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
} .list li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 30px 5px;
    padding: 20px;
    margin-top: 20px;
} .list img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.delBtn {
    width: 100px;
    height: 40px;
    background: none;
    color: black;
    font-size: 13px;
    border: 1px solid black;
    border-radius: 17px;
} .delBtn:hover {
    background-color: rgba(235, 235, 235, 0.9);
} .delBtn:active {
    background-color: rgba(215, 215, 215, 0.8);
}

.addBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: rgb(31, 31, 31);
    color: white;
    width: 130px;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
} .addBtn:hover {
    background: rgb(41, 41, 41);
}


.addFormBackground {
    display: none;
}
.addFormBackgroundShow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 100;
}
.addForm {
    display: none;
} .addForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    transform: translateY(50%);
    background-color: rgb(31, 31, 31);
    padding: 50px;
    margin: 5vh;
    border: 1px solid black;
} .addForm input {
    width: 40vh;
    height: 3vh;
    border: 1px solid black;
    border-radius: 10px;
} .addForm button {
    width: 10vh;
    height: 3vh;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
} .addForm p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 26px;
}